<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.finance.redemptionRecordInfo.mapper.RedemptionRecordInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alex.finance.redemptionRecordInfo.entity.RedemptionRecordInfo">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="deleter" property="deleter" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_delete" property="isDelete" />
        <result column="user_coupon_id" property="userCouponId" />
        <result column="user_id" property="userId" />
        <result column="order_id" property="orderId" />
        <result column="redemption_quantity" property="redemptionQuantity" />
        <result column="redemption_value" property="redemptionValue" />
        <result column="redemption_time" property="redemptionTime" />
        <result column="merchant_id" property="merchantId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        rr.id,
        rr.creator,
        rr.create_time,
        rr.updater,
        rr.update_time,
        rr.operator,
        rr.operate_time,
        rr.deleter,
        rr.delete_time,
        rr.is_delete,
        rr.user_coupon_id,
        rr.user_id,
        rr.order_id,
        rr.redemption_quantity,
        rr.redemption_value,
        rr.redemption_time,
        rr.merchant_id,
        uci.coupon_id as couponId,
        ci.coupon_name as couponName
    </sql>

    <select id="getPage" resultType="com.alex.api.finance.redemptionRecordInfo.vo.RedemptionRecordInfoVo">
        select <include refid="Base_Column_List"/>
        from redemption_record_info_t rr
        left join user_coupon_info_t uci on uci.id = rr.user_coupon_id and uci.is_delete = 0
        left join coupon_info_t ci on ci.id = uci.coupon_id and ci.is_delete = 0
        <where>
            rr.is_delete = 0
            <include refid="queryInfo"/>
        </where>
        order by rr.operate_time desc
    </select>

    <select id="getList" resultType="com.alex.api.finance.redemptionRecordInfo.vo.RedemptionRecordInfoVo">
        select <include refid="Base_Column_List"/>
        from redemption_record_info_t rr
        left join user_coupon_info_t uci on uci.id = rr.user_coupon_id and uci.is_delete = 0
        left join coupon_info_t ci on ci.id = uci.coupon_id and ci.is_delete = 0
        <where>
            rr.is_delete = 0
            <include refid="queryInfo"/>
        </where>
        order by rr.operate_time desc
    </select>

    <select id="queryRedemptionRecordInfo" resultType="com.alex.api.finance.redemptionRecordInfo.vo.RedemptionRecordInfoVo">
        select <include refid="Base_Column_List"/>
        from redemption_record_info_t rr
        left join user_coupon_info_t uci on uci.id = rr.user_coupon_id and uci.is_delete = 0
        left join coupon_info_t ci on ci.id = uci.coupon_id and ci.is_delete = 0
        <where>
            rr.id = #{id}
            and rr.is_delete = 0
        </where>
    </select>

     <sql id="queryInfo">
        <if test = "redemptionRecordInfoVo != null">
          <if test = "redemptionRecordInfoVo.userCouponId != null">
            and rr.user_coupon_id = #{redemptionRecordInfoVo.userCouponId}
          </if>
          <if test = "redemptionRecordInfoVo.userId != null">
            and rr.user_id = #{redemptionRecordInfoVo.userId}
          </if>
          <if test = "redemptionRecordInfoVo.orderId != null">
            and rr.order_id = #{redemptionRecordInfoVo.orderId}
          </if>
          <if test = "redemptionRecordInfoVo.redemptionQuantity != null">
            and rr.redemption_quantity = #{redemptionRecordInfoVo.redemptionQuantity}
          </if>
          <if test = "redemptionRecordInfoVo.redemptionValue != null">
            and rr.redemption_value = #{redemptionRecordInfoVo.redemptionValue}
          </if>
          <if test = "redemptionRecordInfoVo.redemptionTime != null">
            and rr.redemption_time = #{redemptionRecordInfoVo.redemptionTime}
          </if>
          <if test = "redemptionRecordInfoVo.merchantId != null">
            and rr.merchant_id = #{redemptionRecordInfoVo.merchantId}
          </if>
        </if>
     </sql>
</mapper>
