<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.user.mapper.roleUserInfo.RoleUserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alex.api.user.vo.roleInfo.RoleInfoVo">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleter" property="deleter" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_delete" property="isDelete" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="summary" property="summary" />
        <result column="status" property="status" />
        <collection property="permissionList" javaType="com.alex.api.user.vo.permissionInfo.PermissionInfoVo">
            <result column="permission_id" property="id" />
            <result column="permission_creator" property="creator" />
            <result column="permission_create_time" property="createTime" />
            <result column="permission_updater" property="updater" />
            <result column="permission_update_time" property="updateTime" />
            <result column="permission_deleter" property="deleter" />
            <result column="permission_delete_time" property="deleteTime" />
            <result column="permission_is_delete" property="isDelete" />
            <result column="permission_operator" property="operator" />
            <result column="permission_operate_time" property="operateTime" />
            <result column="permission_permission_code" property="permissionCode" />
            <result column="permission_permission_name" property="permissionName" />
            <result column="permission_summary" property="summary" />
            <result column="permission_status" property="status" />
            <result column="permission_options" property="options" />
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_role_user_info.id,
        t_role_user_info.creator,
        t_role_user_info.create_time,
        t_role_user_info.updater,
        t_role_user_info.update_time,
        t_role_user_info.deleter,
        t_role_user_info.delete_time,
        t_role_user_info.is_delete,
        t_role_user_info.operator,
        t_role_user_info.operate_time,
        t_role_user_info.role_id, t_role_user_info.user_id, t_role_user_info.summary, t_role_user_info.`status`
    </sql>

    <select id="getPage" resultType="com.alex.api.user.vo.roleUserInfo.RoleUserInfoVo">
        select <include refid="Base_Column_List"/> from t_role_user_info
        <where>
            t_role_user_info.is_delete = 0
            <include refid="queryInfo"/>
        </where>
    </select>

    <select id="queryRoleUserInfo" resultType="com.alex.api.user.vo.roleUserInfo.RoleUserInfoVo">
        select <include refid="Base_Column_List"/> from t_role_user_info
        <where>
            t_role_user_info.id = #{id}
            and t_role_user_info.is_delete = 0
        </where>
    </select>

     <sql id="queryInfo">
        <if test = "roleUserInfoVo != null">
          <if test = "roleUserInfoVo.roleId != null">
            and t_role_user_info.role_id like concat('%', #{roleUserInfoVo.roleId}, '%')
          </if>
          <if test = "roleUserInfoVo.userId != null">
            and t_role_user_info.user_id like concat('%', #{roleUserInfoVo.userId}, '%')
          </if>
          <if test = "roleUserInfoVo.summary != null">
            and t_role_user_info.summary like concat('%', #{roleUserInfoVo.summary}, '%')
          </if>
          <if test = "roleUserInfoVo.status != null">
            and t_role_user_info.status like concat('%', #{roleUserInfoVo.status}, '%')
          </if>
        </if>
     </sql>

    <select id="getRoleInfoList" resultMap="BaseResultMap">
        select
            t_role_info.id,
            t_role_info.creator,
            t_role_info.create_time,
            t_role_info.updater,
            t_role_info.update_time,
            t_role_info.deleter,
            t_role_info.delete_time,
            t_role_info.is_delete,
            t_role_info.operator,
            t_role_info.operate_time,
            t_role_info.role_code,
            t_role_info.role_name,
            t_role_info.summary,
            t_role_info.`status`
            <if test="hasPermission">
                ,t_permission_info.id as permission_id,
                t_permission_info.creator as permission_creator,
                t_permission_info.create_time as permission_create_time,
                t_permission_info.updater as permission_updater,
                t_permission_info.update_time as permission_update_time,
                t_permission_info.deleter as permission_deleter,
                t_permission_info.delete_time as permission_delete_time,
                t_permission_info.is_delete as permission_is_delete,
                t_permission_info.operator as permission_operator,
                t_permission_info.operate_time as permission_operate_time,
                t_permission_info.permission_code as permission_permission_code,
                t_permission_info.permission_name as permission_permission_name,
                t_permission_info.summary as permission_summary,
                t_permission_info.status as permission_status,
                t_permission_info.options as permission_options
            </if>
        from
            t_role_info
        left join
            t_role_user_info
        on t_role_info.id = t_role_user_info.role_id
        <if test="hasPermission">
            left join t_role_permission_info
            on t_role_info.id = t_role_permission_info.role_id
            and t_role_permission_info.is_delete = 0
            and t_role_permission_info.status = 1
            left join t_permission_info
            on t_role_permission_info.permission_id = t_permission_info.id
            and t_permission_info.is_delete = 0
            and t_permission_info.status = 1
        </if>
        <where>
            t_role_user_info.user_id = ${userId}
            and t_role_info.status = 1
            and t_role_user_info.status = 1
            and t_role_info.is_delete = 0
            and t_role_user_info.is_delete = 0
        </where>
    </select>
</mapper>
