<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.user.mapper.user.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alex.user.entity.user.TUser">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleter" property="deleter" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_delete" property="isDelete" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="gender" property="gender" />
        <result column="avatar" property="avatar" />
        <result column="email" property="email" />
        <result column="birthday" property="birthday" />
        <result column="mobile" property="mobile" />
        <result column="valid_code" property="validCode" />
        <result column="summary" property="summary" />
        <result column="status" property="status" />
        <result column="nick_name" property="nickName" />
        <result column="qq_number" property="qqNumber" />
        <result column="we_chat" property="weChat" />
        <result column="occupation" property="occupation" />
        <result column="github" property="github" />
        <result column="gitee" property="gitee" />
        <result column="role_id" property="roleId" />
        <result column="person_resume" property="personResume" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_user.id,
        t_user.creator,
        t_user.create_time,
        t_user.updater,
        t_user.update_time,
        t_user.deleter,
        t_user.delete_time,
        t_user.is_delete,
        t_user.operator,
        t_user.operate_time,
        t_user.username, t_user.gender, t_user.avatar, t_user.email, t_user.birthday, t_user.mobile, t_user.valid_code, t_user.summary, t_user.`status`, t_user.nick_name, t_user.qq_number, t_user.we_chat, t_user.occupation, t_user.github, t_user.gitee, t_user.role_id, t_user.person_resume
    </sql>

    <select id="getPage" resultType="com.alex.api.user.vo.user.TUserVo">
        select <include refid="Base_Column_List"></include> from t_user
        <where>
            t_user.is_delete = 0 <include refid="queryInfo"></include>
        </where>
        order by t_user.operate_time desc
    </select>

    <select id="queryTUser" resultType="com.alex.api.user.vo.user.TUserVo">
        select <include refid="Base_Column_List"></include> from t_user
        <where>
            t_user.is_delete = 0 and id = #{id}
        </where>
    </select>

    <select id="getList" resultType="com.alex.api.user.vo.user.TUserVo">
        select <include refid="Base_Column_List"></include> from t_user
        <where>
            t_user.is_delete = 0 <include refid="queryInfo"></include>
        </where>
        order by t_user.id
    </select>

    <select id="getUserInfo" resultType="com.alex.api.user.vo.user.TUserVo">
        select <include refid="Base_Column_List"></include>,password from t_user
        <where>
            t_user.is_delete = 0 <include refid="queryInfo"></include>
        </where>
    </select>

     <sql id="queryInfo">
        <if test = "tUserVo != null">
          <if test = "tUserVo.username != null">
            and username like concat('%', #{tUserVo.username}, '%')
          </if>
          <if test = "tUserVo.password != null">
            and password like concat('%', #{tUserVo.password}, '%')
          </if>
          <if test = "tUserVo.gender != null">
            and gender = #{tUserVo.gender}
          </if>
          <if test = "tUserVo.avatar != null">
            and avatar like concat('%', #{tUserVo.avatar}, '%')
          </if>
          <if test = "tUserVo.email != null">
            and email like concat('%', #{tUserVo.email}, '%')
          </if>
          <if test = "tUserVo.birthday != null">
            and birthday = #{tUserVo.birthday}
          </if>
          <if test = "tUserVo.mobile != null">
            and mobile like concat('%', #{tUserVo.mobile}, '%')
          </if>
          <if test = "tUserVo.validCode != null">
            and valid_code like concat('%', #{tUserVo.validCode}, '%')
          </if>
          <if test = "tUserVo.summary != null">
            and summary like concat('%', #{tUserVo.summary}, '%')
          </if>
          <if test = "tUserVo.status != null">
            and status = #{tUserVo.status}
          </if>
          <if test = "tUserVo.nickName != null">
            and nick_name like concat('%', #{tUserVo.nickName}, '%')
          </if>
          <if test = "tUserVo.qqNumber != null">
            and qq_number like concat('%', #{tUserVo.qqNumber}, '%')
          </if>
          <if test = "tUserVo.weChat != null">
            and we_chat like concat('%', #{tUserVo.weChat}, '%')
          </if>
          <if test = "tUserVo.occupation != null">
            and occupation like concat('%', #{tUserVo.occupation}, '%')
          </if>
          <if test = "tUserVo.github != null">
            and github like concat('%', #{tUserVo.github}, '%')
          </if>
          <if test = "tUserVo.gitee != null">
            and gitee like concat('%', #{tUserVo.gitee}, '%')
          </if>
          <if test = "tUserVo.roleId != null">
            and role_id like concat('%', #{tUserVo.roleId}, '%')
          </if>
          <if test = "tUserVo.personResume != null">
            and person_resume like concat('%', #{tUserVo.personResume}, '%')
          </if>
        </if>
     </sql>
</mapper>
