<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.finance.gift.relation.mapper.GiftRelationInfoTMapper">

    <sql id="queryConditions">
        <if test="query != null">
            <if test="query.personId != null">
                AND r.person_id = #{query.personId}
            </if>
            <if test="query.relationPersonId != null">
                AND r.relation_person_id = #{query.relationPersonId}
            </if>
            <if test="query.relationType != null and query.relationType != ''">
                AND r.relation_type = #{query.relationType}
            </if>
        </if>
    </sql>

    <sql id="voColumns">
        r.id,
        r.org_id,
        r.user_id,
        r.person_id,
        r.relation_person_id,
        r.relation_type,
        r.remark,
        r.create_time,
        r.update_time
    </sql>

    <select id="getPage" resultType="com.alex.api.finance.gift.relation.vo.GiftRelationInfoTVo">
        SELECT <include refid="voColumns"/>
        FROM gift_relation_info_t r
        <where>
            <include refid="queryConditions"/>
        </where>
        ORDER BY r.create_time DESC
    </select>

    <select id="getList" resultType="com.alex.api.finance.gift.relation.vo.GiftRelationInfoTVo">
        SELECT <include refid="voColumns"/>
        FROM gift_relation_info_t r
        <where>
            <include refid="queryConditions"/>
        </where>
        ORDER BY r.create_time DESC
    </select>

</mapper>
