<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.finance.shopStockBatch.mapper.ShopStockBatchMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alex.finance.shopStockBatch.entity.ShopStockBatch">
        <result column="id" property="id" />
        <result column="is_delete" property="isDelete" />
        <result column="creator" property="creator" />
        <result column="updater" property="updater" />
        <result column="deleter" property="deleter" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="batch_code" property="batchCode" />
        <result column="batch_name" property="batchName" />
        <result column="is_valid" property="isValid" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        t_shop_stock_batch.id,
        t_shop_stock_batch.is_delete,
        t_shop_stock_batch.creator,
        t_shop_stock_batch.updater,
        t_shop_stock_batch.deleter,
        t_shop_stock_batch.create_time,
        t_shop_stock_batch.update_time,
        t_shop_stock_batch.delete_time,
        t_shop_stock_batch.operator,
        t_shop_stock_batch.operate_time,
        t_shop_stock_batch.batch_code, t_shop_stock_batch.batch_name, t_shop_stock_batch.is_valid, t_shop_stock_batch.`description`
    </sql>

    <select id="getPage" resultType="com.alex.api.finance.shopStockBatch.vo.ShopStockBatchVo">
        select <include refid="Base_Column_List"/>from t_shop_stock_batch
        <where>
            t_shop_stock_batch.is_delete = 0
            <include refid="queryInfo"/>
        </where>
    </select>

    <select id="queryShopStockBatch" resultType="com.alex.api.finance.shopStockBatch.vo.ShopStockBatchVo">
        select <include refid="Base_Column_List"/> from t_shop_stock_batch
        <where>
            t_shop_stock_batch.id = #{id}
            and t_shop_stock_batch.is_delete = 0
        </where>
    </select>
    
    <select id="getList" resultType="com.alex.api.finance.shopStockBatch.vo.ShopStockBatchVo">
        select <include refid="Base_Column_List"/>from t_shop_stock_batch
        <where>
            t_shop_stock_batch.is_delete = 0
            <include refid="queryInfo"/>
        </where>
        order by t_shop_stock_batch.operate_time desc
    </select>

     <sql id="queryInfo">
        <if test = "shopStockBatchVo != null">
          <if test = "shopStockBatchVo.batchCode != null">
            and t_shop_stock_batch.batch_code like concat('%', #{shopStockBatchVo.batchCode}, '%')
          </if>
          <if test = "shopStockBatchVo.batchName != null">
            and t_shop_stock_batch.batch_name like concat('%', #{shopStockBatchVo.batchName}, '%')
          </if>
          <if test = "shopStockBatchVo.isValid != null">
            and t_shop_stock_batch.is_valid like concat('%', #{shopStockBatchVo.isValid}, '%')
          </if>
          <if test = "shopStockBatchVo.description != null">
            and t_shop_stock_batch.description like concat('%', #{shopStockBatchVo.description}, '%')
          </if>
          <if test = "shopStockBatchVo.title != null">
            and (t_shop_stock_batch.batch_code like concat('%', #{shopStockBatchVo.title}, '%')
                or t_shop_stock_batch.batch_name like concat('%', #{shopStockBatchVo.title}, '%')
                or t_shop_stock_batch.description like concat('%', #{shopStockBatchVo.title}, '%'))
          </if>
        </if>
     </sql>
</mapper>
