<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.mission.mapper.OrderMapper">

    <resultMap id="goodsResultMap" type="com.alex.common.pojo.dto.OrderDTO">
        <result column="id" property="id"/>
        <result column="userId" property="user_id"/>
        <result column="goodsId" property="goods_id"/>
        <result column="createdTime" property="created_time"/>
        <result column="updatedTime" property="updated_time"/>
    </resultMap>

    <sql id="baseInfo">
        id, user_id, goods_img, is_using, goods_title, goods_price, goods_stock, start_time, end_time
    </sql>
    <!--查询全部-->
    <select id="findPage" resultMap="goodsResultMap">
        select <include refid="baseInfo" />
        from order_info where is_delete = '0'
        <if test="orderId != null">
            and id = #{orderId}
        </if>
    </select>
</mapper>
