<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alex.finance.mapper.financeAnalysis.FinanceAnalysisMapper">

    <select id="getBalance" resultType="com.alex.finance.vo.financeAnalysis.AnalysisVo">
        SELECT
            dict_info.type_code,
            dict_info.type_name,
            IFNULL( finance_base_info.amount, 0 ) + IFNULL( finance_info.amount, 0 ) AS amount
        FROM
            dict_info
                LEFT JOIN finance_base_info ON finance_base_info.from_source = dict_info.type_code
                AND finance_base_info.is_valid = '1'
                AND finance_base_info.is_delete = '0'
                <if test="belongTo != null">
                    AND finance_base_info.belong_to = #{belongTo}
                </if>
                LEFT JOIN (
                SELECT
                    finance_info.from_source,
                    sum( CASE finance_info.income_and_expenses WHEN 'income' THEN finance_info.amount ELSE - finance_info.amount END ) AS amount
                FROM
                    finance_info
                WHERE
                    finance_info.is_valid = '1'
                  AND finance_info.is_delete = '0'
                  <if test="belongTo != null">
                      AND finance_info.belong_to = #{belongTo}
                  </if>
                  <if test="searchDate != null">
                      AND finance_info.info_date &lt; DATE_ADD(
                        cast( CONCAT( #{searchDate}, '-01' ) AS datetime ),
                      INTERVAL 1 MONTH
                      )
                  </if>
                GROUP BY
                    finance_info.from_source
            ) finance_info ON finance_info.from_source = dict_info.type_code
        WHERE
            dict_info.is_valid = '1'
          AND dict_info.is_delete = '0'
          AND dict_info.belong_to = 'pay_way'
          order by dict_info.order_by
    </select>

    <select id="getIncomeAndExpense" resultType="com.alex.finance.vo.financeAnalysis.AnalysisVo">
        SELECT
            type_code,
            income_and_expenses,
            sum( amount ) AS amount
        FROM
            finance_info
        WHERE
            is_valid = '1'
            AND is_delete = 0
            AND type_code != '转账'
            <if test="belongTo != null">
                 and belong_to = #{belongTo}
            </if>
            AND NAME != '白条收入'
            <if test="type != null and type != ''">
                AND income_and_expenses = #{type}
            </if>
            AND operate_time >= cast( concat( #{searchDate}, '-', '01' ) AS datetime )
            AND operate_time &lt; DATE_ADD( cast( concat( #{searchDate}, '-', '01' ) AS datetime ), INTERVAL 1 MONTH )
        GROUP BY
            type_code,
            income_and_expenses
        ORDER BY
            type_code,
            income_and_expenses
    </select>
</mapper>
